<!DOCTYPE html>
<html>
<head>
  <title>MIS407 IA06</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" />
</head>
{% block body %}

<form action="/compute" method="POST">
	<div class="calculator">
		<div class="app-title">
			<h1>Calculator</h1>
		</div>

		<div class="calc-form">
			<div class="control-group">
				<label class="number-label" for="number1">First Number:</label>
				<input type="text" class="number-field" value="" placeholder="0.0" name="number1">
			</div>

			<div class="control-group">
				<label class="number-label" for="number2">Second Number:</label>
				<input type="text" class="number-field" value="" placeholder="0.0" name="number2">
			</div>

			<div class="control-group">
				<label class="operator-label" for="operator">Operator (+, -, *, /):</label>
				<input class="operator-field" value="" placeholder="+" name="operator">
			</div>

			<input type="submit" value="Compute" class="btn btn-primary btn-large btn-block" >
			<br/>
		</div>
	</div>
</form>

{% endblock %}